# Dependencias
node_modules
.next
out
build

# Configuración local y llaves (IMPORTANTE: NO SUBIR A GITHUB)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de sistema
.DS_Store
*.log
